name: Docker Release

on:
  push:
    tags: 
      - v* 

jobs:
  apiary-docker-image:
    name: Apiary Docker Release
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code  
      uses: actions/checkout@v2

    - name: Release Apiary Docker Image
      uses: docker/build-push-action@v1.1.0
      with:
        dockerfile: "Dockerfile"
        always_pull: true
        tag_with_ref: true
        platforms: linux/amd64,linux/arm64
        repository: expediagroup/apiary-metastore-core
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        push: ${{ startsWith(github.ref, 'refs/tags/') }}
